@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

body {
  @apply bg-neutral-50 dark:bg-neutral-950 text-neutral-900 dark:text-gray-200 transition-colors duration-200;
  font-family: "Cascadia Code", Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 0;
}