@import "tailwindcss";

:root{
    --panel-background: rgb(235, 235, 235);
    --panel-border: rgba(23, 23, 23, 0.3);
}

@media (prefers-color-scheme: dark){
    :root {
        --panel-background: rgb(30, 30, 30);
        --panel-border: rgba(237, 237, 237, 0.3);
    }
}

